:root {
    --bgColor: #223344;
    --bgColor2: #090a0f;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

main {
    display: flex;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#post-list {
    flex: 1;
    margin-right: 20px;
}

#post-content {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center items vertically */
    margin-bottom: 20px; /* Space between title and content */
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: #007acc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.back-button {
    margin-right: 10px; /* Add some space between the back button and the title */
    font-size: 20px; /* Adjust the font size for better visibility */
    text-decoration: none; /* Remove underline */
}


.back-button:focus {
    outline: none; /* Remove default focus outline */
}

#post-content {
    position: relative; /* Positioning context for the button */
}
#post-title {
    margin: 0; /* Remove default margin */
    font-size: 24px; /* Adjust title size as needed */

}
